@import "./layout/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Play", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  color: #666;
  position: relative;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

footer {
  position: relative;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  height: 100vh;
  min-height: 650px;
  background-color: #f5f5f5;
  padding: 25px 0 35px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("../img/hero-bg.png") right center/53% auto no-repeat;
}

.hero__title-section {
  width: 46%;
}

.hero__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000;
  flex-shrink: 0;
  margin-bottom: 32px;
}

.hero__subtitle {
  font-size: 18px;
  color: #000;
  margin-bottom: 40px;
  padding-right: 21%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 42px;
  height: 42px;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 14px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item:last-child {
  margin-right: 0;
}

.nav-menu__link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.contact-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-phone__img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.contact-phone__text {
  font-size: 21px;
  color: #000;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  display: inline-flex;
  transition: 0.2s linear;
}
.btn--theme--red {
  background-color: #e01f3d;
}
.btn--theme--red:hover {
  background-color: #ca1b36;
}

.features {
  display: flex;
  width: 50%;
}

.feature {
  display: flex;
  align-items: center;
  flex: 1;
}

.feature__icon {
  width: 46px;
  height: 44px;
}

.feature__text {
  font-size: 16px;
  color: #000;
  margin-left: 5px;
}

.section {
  height: 100vh;
  min-height: 650px;
}

.section__title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}

.benefits-section__title {
  margin-bottom: 8px;
}

.benefits-section__subtitle {
  text-align: center;
  padding: 0 15%;
  margin-bottom: 56px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 44px;
  position: relative;
}
.benefit:after {
  content: url(../img/circles.png);
  position: absolute;
  right: -33.5px;
  top: 20%;
}
.benefit:first-child {
  padding-left: 0;
}
.benefit:last-child {
  padding-right: 0;
}
.benefit:last-child:after {
  display: none;
}

.benefit__icon-wrap {
  height: 126px;
  width: 126px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  margin-bottom: 30px;
}

.benefit__icon {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.benefit__text {
  font-size: 16px;
}

.team-section__list {
  display: flex;
  justify-content: space-between;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  text-align: center;
}

.team-member__avatar {
  width: 220px;
  height: 290px;
  overflow: hidden;
  margin-bottom: 22px;
}

.team-member__pic {
  position: relative;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 160%;
  object-fit: cover;
}

.team-member__title {
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.team-member__subtitle {
  color: #281e1e;
  font-size: 16px;
  margin-bottom: 8px;
}

.team-member__text {
  font-size: 16px;
}