$containerWidth: 940px;
$baseFontSize: 18px;

//colors

$red: #e01f3d;
$darkRed: #ca1b36;

//normalize

@import "./layout/normalize.css";

//setups

@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
@import "./layout/base.scss";

//components

@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/logo.scss";
@import "./components/menu.scss";
@import "./components/contact-phone.scss";
@import "./components/btn.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/section.scss";
@import "./components/benefits-section.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/team-section.scss";
@import "./components/team-member.scss";
@import "./components/review.scss";