$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors

$red: #e01f3d;
$darkRed: #ca1b36;

//media

@import "./components/media.scss";

//normalize

@import "./layout/normalize.css";

//setups

@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
@import "./layout/base.scss";

//components

@import "./components/_hero.scss";
@import "./components/_header.scss";
@import "./components/_logo.scss";
@import "./components/_menu.scss";
@import "./components/_hamburger.scss";
@import "./components/_contact-phone.scss";
@import "./components/_btn.scss";
@import "./components/_features.scss";
@import "./components/_feature.scss";
@import "./components/_section.scss";
@import "./components/_benefits-section.scss";
@import "./components/_benefits.scss";
@import "./components/_benefit.scss";
@import "./components/_team-section.scss";
@import "./components/_team-member.scss";
@import "./components/_reviews.scss";
@import "./components/_form-section.scss";
@import "./components/_form.scss";
@import "./components/_radio.scss";
@import "./components/_slider-section.scss";
@import "./components/_slider-container.scss";
@import "./components/_slide.scss";
@import "./components/_property.scss";
@import "./components/_colors-section.scss";
@import "./components/_colors.scss";
