.contact-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    .contact-phone__img {
      fill: $red;
    }
    .contact-phone__text {
      color: $red;
    }

  }
  
  @include tablets {
    display: none;
  }
}

.contact-phone__img {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(4px);

}

.contact-phone__text {
  font-size: rem(21px);
  color: #000;
  white-space: nowrap;
}