.feature {
  display: flex;
  align-items: center;
  flex: 1;
}

.feature__icon {
  width: rem(46px);
  height: rem(44px);
}

.feature__text {
  font-size: rem(16px);
  color: #000;
  margin-left: rem(5px);
}