.socials {
  display: flex;
}

.socials__item {
  width: rem(35px);
  height: rem(35px);
  margin-left: rem(10px);

  &:first-child {
    margin-left: 0;
  }
}

.socials__icon {
  fill: #B3B3B3;
  width: rem(35px);
  height: rem(35px);

  &:hover {
    fill: #000;
  }
}