.team-section {
  @include tablets {
    min-height: 100%;
  }
}

.team-section__list--desktop {
  display: flex;
  justify-content: space-between;
  align-items: top;


  @include tablets {
    display: none;
  }
}

.team-section__list--mobile {
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}