.benefits-section {

  &:before {
    content: '';
    display: block;
    border: rem(18px) solid transparent;
    border-bottom: rem(28px) solid $red;
    transform: rotate(-15deg);
    position: absolute;
    left: 10%;
    bottom: rem(-10px);
    z-index: 1;
  }
}

.benefits-section__title {
  margin-bottom: rem(8px);
}

.benefits-section__subtitle {
  text-align: center;
  padding: 0 15%;
  margin-bottom: rem(56px);

  @include phones {
    padding: 0 5%;
  }
}