.btn {
  font-size: rem(16px);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: rem(14px) rem(40px);
  border-radius: rem(100px);
  display: inline-flex;
  transition: 0.2s linear;
  outline: none;

  &--theme--grey {
    color: #999;

    &:hover {
      color: $red;
    }
  }

  &--theme--red {
    background-color: $red;
    
    &:hover {
      background-color: $darkRed;
    }
  }
}

