.contact-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-phone__img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.contact-phone__text {
  font-size: 21px;
  color: #000;
}