.hamburger {
  display: none;
  height: 24px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  height: 4px;
  background-color: #000;
  border-radius: 10px;
}