.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);
  margin-top: 5px;

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    margin-top: 10px;
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: rem(8px);

  &:before {
    content: '';
    width: rem(13px);
    height: rem(13px);
    background: $red;
    position: absolute;
    border-radius: 50%;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.radio__title {
  color: #fff;
}

.radio--checkbox {
  .radio__visible {
    border-radius: 0;

    &:before {
      border-radius: 0;
    }
  }
}